@media (max-width:1440px) {

    * {
        br {
            display: none;
        }
    }

    .second-1 {
        p {
            padding-right: 150px;
        }
    }

.fifth-1{
    margin-inline:20px;
}

    .fifth-h1 {

        br{
            display: block !important;
        }
        padding: 0 200px;
    }



    .seventh {
        .seventh-1 h1 {
            span {
                position: relative;
                left: 232px;
                bottom: 5px;
            }
        }
    }

    .sixth {
        .container {
            padding: 100px 100px 30px 100px;
        }
    }

    .ten .container .ten3:nth-child(odd) .ten-22 {
        display: -ms-grid;
        display: grid;
        place-items: center;
    }

    .ten .container .ten3:nth-child(even) .ten-22 {
        display: -ms-grid;
        display: grid;
        place-items: center;
    }

    .ten-22 {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .thirteen {
        padding-inline: 110px;
    }

    .sixteen {

        p{
            br{
                display:none;
            }
        }
       

        .sixteen-img {
            padding: 0 230px;
            justify-content: space-evenly;

            .middle{
                br{
                    display:block !important;
                }
            }
        }
    }

    .seventeen {
        h1 {
            padding-inline: 30px;
        }
    }

    .eighteen{
        margin-bottom:50px;
    }


}

















// ............................................................


// MEDIA 1300PX ........................

@media (max-width:1300px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
        max-width: 1567px;
        margin: 0 auto;
        row-gap: 20px;

        .nav-2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 10px;

        }


    }

    .second {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 auto;
        row-gap: 50px;
        padding-top: 80px;

        .second-1 {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                padding-right: 0;
            }
        }
    }

    .third {
        margin-top: 90px;
    }

    .fourth {
        margin: 0 15px;

        .container {
            padding-right: 15px;
            padding-left: 15px;

        }

        div+div {
            padding-left: 42px;
        }
    }

    .fifth {
        padding-top: 250px;

        .fifth-h1 {
            padding: 0 30px;
        }
    }


    .sixth {
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 100px 0px 100px 0px;
        }
    }

    .seventh {
        h1 {
            padding: 0 70px;
        }

        .seventh-1 {
            margin-top: 60px;

            p {
                max-width: 700px;
                width: 100%;
                margin: auto;
                padding-inline: 100px;
                padding-block: 0 50px;
            }
        }
    }


    .eight {

        top: 174px;
        margin-top: -80px;
        padding-inline: 30px;
        margin-inline: 30px;
    }


    .nine {
        padding-top: 240px;

        h1 {
            padding: 0 10px;
            line-height: 50px;
        }

        p {
            padding: 0 30px;
        }
    }


    .ten {
        .container {
            padding-bottom: 100px;
            row-gap: 100px;
        }
    }


    .eleven {
        .container {
            h1 {
                padding: 0 30px;
                margin-bottom: 20px;

            }
        }
    }



    .twelve {
        .container {
            padding-bottom: 210px;
        }
    }




    .thirteen {
        padding-left: 30px;
        padding-right: 30px;
        margin-inline: 30px;
        bottom: 160px;
        position: static;
        z-index: 0;
        margin-top:-150px;
    }


    .fourteen {
        padding: 0 30px;
        margin-top: 100px;

        div {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            column-gap: 40px;



        }
    }

    .fifteen {
        margin: -70px 50px 50px 50px;


        .fifteen-img {
            column-gap: 20px;
            height: fit-content;
        }
    }

    .sixteen {

        

        margin-top: 120px;

        h1 {
            padding-inline: 122px;
        }

        p{
            br{
                display: none;
            }
        }

        .sixteen-img {
            padding: 0 124px;

            .middle{
                br{
                    display: block !important ;
                }
            }
        }
    }

    .seventeen {

        margin: -40px 32px 0 32px;

        h1 {
            padding: 77px 0 0 0;
        }
    }

    .eighteen {
        padding: 0 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

}


// MEDIA 1200PX......................///////////////////////////////////////


@media(max-width:1200px){
    .fifth-11 {
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;
        width: 100%;
        padding: 0;
        margin: auto;

    }
}



// MEDIA 1024PX ....................//////////////////////////////////////////////////////////////

@media (max-width:1024px) {





    .nav-2 {
        padding-top: 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        @include typography($font-2, 400, 14px, 30px, black);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-22 {
        display: flex;
        column-gap: 3px;
        padding-top: 20px;
    }




    .second {
        padding-top: 80px;
    }

    .second-1 {
        h1 {
            text-align: center;


        }

        p {
            text-align: center;
        }

        .signup-1 {
            display: flex;
            justify-content: center;

        }

        ul {
            row-gap: 10px;
        }
    }

    .second-2 {
        img {
            width: 100%;
        }
    }


    .third {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 80px;

        p {
            padding: 0 30px;
            text-align: justify;
        }

    }





    .fourth {


        // box-sizing: border-box;
        margin: 0px;
        // padding-right: 97px;
        // padding-left: 97px;
        // padding-top: 61px;
        // padding-bottom: 56px;
        background-color: #33393F;
        // text-align: center;
        // display: flex;
        // position: relative;
        // justify-content: center;
        // top: 150px;
        // z-index: 2;
        // margin:auto;
        // max-width: 1560px;



        .container {
            box-sizing: border-box;
            // margin: 0 83px;
            padding-right: 30px;
            padding-left: 30px;
            padding-top: 80px;
            padding-bottom: 80px;
            background-color: #33393F;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            // position: relative;
            justify-content: center;
            // top: 150px;
            // z-index: 2;



        }

        div {
            margin: 30px 0;
        }

        div+div {
            padding-left: 0px;
        }

        & div h1 {

            @include typography($font-2, 700, 20px, 25px, white);
        }

        & div p {
            padding-top: 15px;
            @include typography($font-2, 400, 18px, 22.5px, white)
        }

        & div img {
            padding-top: 18px;
        }

    }


   .fifth-h1{
       br{
           display: none !important;
       }
   }


    .fifth {
        br {
            display: none;
        }

        background-color: #F5FDFF;
        padding-top: 220px;




        // margin-bottom: 0;



        .fifth-p {
            text-align: center;
            padding: 0 122px;
            margin-top: 25px;
            @include typography($font-2, 400, 18px, 32px, black);

        }



        .fifth-1 {
            br {
                display: none;
            }

            background-color: white;
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 77px;
            padding-bottom: 55px;


            p {
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 73px;
                text-align: justify;
                @include typography($font-2, 400, 18px, 32px, black);
            }


        }

        .fifth-11 {
            padding: 0 30px;
            max-width: 0px;
            width: 100%;
            max-width: 700px;
            display: flex;
            flex-wrap: wrap;
            margin: auto;

        }

        .fifth-11 div:first-child h1::after {
            content: '';
            width: 0;
            height: 0;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-top: 30px solid white;
            display: block;
            position: absolute;
            right: 227.8px;
            bottom: 14.8px;
            transform: rotate(-90deg);

        }

    }



    .sixth {

        background-color: #F5FDFF;
        padding: 0 30px;

        .container {
            background-color: #F5FDFF;
            padding: 100px 30px 100px 30px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            max-width: 1567px;
            margin: 0 auto;

            .sixth-1 {
                // display: grid;
                // column-gap: 22px;
                // row-gap: 70px;
                // grid-template-columns: repeat(3, 1fr);
                // grid-template-rows: repeat(3, 1fr);
                // text-align: center;
                flex-basis: 50%;
                display: flex;
                // flex-basis: calc(100/3);
                justify-content: space-between;
                flex-wrap: wrap;


                div {
                    display: flex;
                    flex-basis: 33.33%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 63px;


                    h1 {
                        width: max-content;
                        margin-top: 20px;
                    }

                }

                & h1 {
                    @include typography($font-2, 500, 18px, 32px, black);
                }
            }
        }



    }





    .seventh {
        margin-top: 104px;


        h1 {
            padding: 0 50px;
            text-align: center;
            @include typography($font-2, 400, 18px, 32px, black)
        }

        br {
            display: none;
        }




        .seventh-1 {
            margin-top: 90px;
            margin-bottom: -40px;

            .seven {

                div {
                    h1 {
                        width: 70%;
                    }
                }


            }


            h1 {
                margin-bottom: 24px;
                @include typography($font-2, 600, 22px, 32px, black);

                span {
                    position: relative;
                    left: 269px;
                    bottom: 5px;
                }

            }

            p {
                padding: 0 150px;
                margin-bottom: 56px;
                text-align: center;
                @include typography($font-2, 400, 16px, 30px, #0D1B1E);
                position: relative;



            }





            .seventh-11 {
                h1 {
                    display: grid;
                    place-items: center;
                    margin: 0 auto;
                    height: 80px;
                    border-top: 1px solid #DEE4E5;
                    padding-right: 15px;
                    width: 70%;
                    @include typography($font-2, 600, 22px, 32px, #0D1B1E);

                }

                div {
                    position: relative;
                    max-width: 1567px;
                    margin: auto;
                }

                img {
                    position: absolute;
                    right: 111px;
                    bottom: 45%;

                }



            }
        }



    }






    .eight {
        background-color: #19B885;
        margin-right: 30px;
        margin-left: 30px;
        padding-top: 60px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 60px;
        // position: relative;
        // top: 138px;
        // z-index: 2;
        // margin-top: 0;


        h1 {
            text-align: center;
            margin-bottom: 16px;
            @include typography($font-1, 700, 28px, 56px, #FFFFFF);

        }

        div {
            display: flex;
            justify-content: center;
        }

        input[type='email'] {
            height: 56px;
            width: 310px;
            left: 467px;
            top: 3713px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            margin: 0;
            @include typography($font-2, 400, 18px, 21.78px, #00000080)
        }

        input[type="email"]::placeholder {
            padding-left: 16px;
        }

        input:focus {
            outline: none;
        }

        button {
            height: 56px;
            width: 195px;
            left: 777px;
            top: 3713px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            margin: 0;
            background-color: black;
            color: white;
            @include typography($font-2, 400, 18px, 21.78px, #FFFFFF)
        }

        ul {
            margin-top: 12px;
            display: flex;
            justify-content: center;
            row-gap: 10px;
            column-gap: 10px;

            li {
                @include typography($font-2, 400, 14px, 17px, white);
            }

            li+li {
                margin-left: 15px;
            }

            li:first-child {
                list-style: none;
            }

            li:nth-child(4) {
                text-decoration: underline;
                @include typography($font-2, 700, 14px, 17px, white);
            }
        }

    }





    .nine {
        padding-top: 240px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #F5FDFF;
        text-align: center;
        padding-bottom: 115px;

        h1 {
            padding: 0 10px;
            @include typography($font-1, 700, 36px, 46px, #0D1B1E);
        }

        p {
            // margin-top: 32px;
            margin: 32px auto 0 auto;
            max-width: 1560px;
            padding: 0;
            @include typography($font-1, 400, 18px, 32px, #0D1B1E);
        }
    }








    .ten {
        background-color: #F5FDFF;
        padding-left: 50px;
        padding-right: 50px;

        .container {
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 100px;
            background-color: #F5FDFF;
            display: flex;
            flex-direction: column;
            row-gap: 100px;
            max-width: 1560px;
            margin: auto;


            .ten3 {
                display: flex;
                flex-direction: column;
                row-gap: 30px;
            }

            .ten3:nth-child(odd) {

                display: flex;
                flex-direction: column-reverse;
                row-gap: 30px;

            }

            .ten-22 {
                display: grid;
                place-items: center;
                text-align: center;

            }

            .ten-1 {
                display: grid;
                place-content: center;
                padding: 0 0;

            }







            //    .ten3:nth-child(1) {
            //     .ten-1{
            //         position: relative;
            //         left:40px;
            //       }

            //       img{
            //           position: relative;
            //           left:40px;
            //       }
            //    }

            h1 {

                width: 100%;
                @include typography($font-2, 700, 36px, 46px, #000000)
            }

            p {
                text-align: justify;
                margin-top: 15px;
                @include typography($font-2, 400, 16px, 30px, #000000)
            }



            .ten-22 {
                display: grid;
                place-items: center;

                img {
                    max-width: 600px;
                    width: 100%;
                }
            }






        }







    }



    .eleven {
        background-color: #33393F;

        .container {
            background-color: #33393F;
            padding: 104px 0;
            text-align: center;


            p {
                padding: 0 140px;
                max-width: 1450px;
                margin: auto;
                width: 100%;
                @include typography($font-2, 400, 18px, 22px, #FFFFFF);

            }


            h1 {
                padding: 0 30px;
                // margin-bottom: 32px;
                max-width: 1500px;
                margin: 0 auto 32px auto;

                @include typography($font-2, 700, 36px, 56px, #FFFFFF);

            }
        }

    }

    .twelve {
        background-color: #33393F;

        .container {
            background-color: #33393F;
            padding: 0 124px;
            display: flex;
            flex-direction: column;
            column-gap: 94px;
            row-gap: 54px;
            // grid-template-columns: repeat(1, 1fr);
            // grid-template-rows: repeat(5, 1fr);
            
            padding-bottom: 250px;
            max-width: 1560px;
            margin: auto;

            div {
                position: relative;
                box-sizing: border-box;
                padding-left: 72px;
                padding-right: 30px;
            }

            h1 {

                @include typography($font-2, 700, 24px, 56px, #FFFFFF)
            }

            p {
                @include typography($font-2, 400, 18px, 32px, #FFFFFF)
            }

            img {
                position: absolute;
                left: 0;
                top: 5px;
            }
        }

    }


    .thirteen {
        margin-inline: 30px;
        bottom: 160px;

        ul {
            row-gap: 10px;
        }
    }




    .fourteen {

        padding: 0 83px;
        margin-bottom: 150px;
        margin-top: 100px;

        img {
            width: 125px;
        }

        img:nth-child(2) {
            width: 200px;
        }
    }

    .fifteen {

        margin-bottom: 50px;
        margin-top: -50px;



        h1 {
            margin-bottom: 80px;
            text-align: center;
            @include typography($font-1, 700, 36px, 46px, #000000)
        }

        .fifteen-img {
            padding: 0 150px;
            display: grid;
            row-gap: 124px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            height: 50px;
            max-width: 1560px;
            margin: auto;
            column-gap: 30px;
            height: fit-content;

        }

        div {
            display: flex;
            justify-content: center;

        }
    }

    .sixteen {

        margin-bottom: 160px;
        margin-top: 120px;

       

        img {
            border-radius: 50%;
        }

        h1 {
            padding: 0 100px;
            text-align: center;
            margin-bottom: 50px;
            @include typography($font-1, 700, 36px, 56px, #0D1B1E)
        }

        p {
            text-align: center;
            padding: 0 150px;
            margin-bottom: 98px;
            @include typography($font-2, 300, 22px, 38px, #00000099)
        }

        .sixteen-img {
            padding: 0 100px;
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            max-width: 1560px;
            margin: auto;


            .middle {
                img {
                    margin: auto;
                    border-radius: 50%;
                }

                width:min-content;
            }

            h1 {

                width: max-content;
                padding: 0;

                margin-bottom: 0;
                @include typography($font-2, 500, 26px, 56px, #000000)
            }

            p {
                padding: 0;
                margin-bottom: 0;
                @include typography($font-2, 300, 12px, 16px, #00000099)
            }



        }



    }

    .seventeen {
        margin-inline: 32px;
        margin-top: -30px;
    }

    .eighteen {
        margin-top: 130px;
        margin-bottom:50px;
    }

    // nineteen

    .nineteen {
        max-width: 1560px;
        margin: auto;
        padding-right: 79px;


        img {
            width: 245px;
            float: right;

        }
    }
}


// MEDIA 920PX ....................

@media (max-width:920px){
    .eighteen{
        margin-top:100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        row-gap: 40px;

     
            div{
                h1{
                    margin-bottom: 7px;
                }
            }
       
      
    }
}







// MEDIA 768PX.......................///////////////////////////////////////////////////////////

@media (max-width:768px) {




    .nav-21 {


        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        width: 26vw;
        position: relative;

        span {
            display: none;
        }

    }

    .nav-22 p+p {
        margin: 0 15px;
    }





    .second-1 {

        button {
            width: 268px;
        }

        .signup-1 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            flex-direction: column;
            width: 80vw;
            row-gap: 10px;

        }

        input {
            text-align: center;
        }

        ul {

            flex-wrap: wrap;
            justify-content: center;
        }

    }





    .third {
        margin: 60px auto 80px auto;

        p {
            padding: 0 0px;
        }
    }


    .fourth .container {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-right: 100px;
        padding-left: 100px;
        padding-top: 51px;
        padding-bottom: 51px;
        background-color: #33393F;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        row-gap: 40px;
    }




    .fourth div+div {
        padding-left: 0px;
    }




    .fifth {
        padding-top: 186px;
    }



    .fifth-h1 {
        padding: 0 15px;
    }

    .fifth .fifth-p {
        padding: 0 15px;
    }


    .fifth-11 {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 25px 0px;
    }




    .sixth .container {
        background-color: #F5FDFF;
        padding: 100px 10px 50px 10px;

        .sixth-1 {
            div {
                flex-basis: 50%;
            }

            h1 {
                font-size: 17px;
            }
        }
    }

    .sixth {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        row-gap: 30px;
        padding-inline: 0;
        padding-block: 0 30px;
    }








    .seventh {
        margin-top: 80px;
    }

    .seventh .seventh-11 img {
        position: absolute;
        right: 61px;
        bottom: 41%;
    }

    .seventh h1 {
        padding: 0 15px;
        text-align: center;
        margin-bottom: -40px;
    }

    .seventh {
        .seventh-1 {

            margin-bottom: -105px;

            h1 {
                span {
                    position: relative;
                    left: 196px;
                    bottom: 5px;
                }
            }

            p {
                padding: 0 30px;
                text-align: justify;
            }

            .seven {
                div {
                    h1 {
                        width: 90%;
                    }
                }
            }

            .seventh-11 {
                h1 {
                    width: 90%;
                }
            }

        }
    }




    .eight {
        margin: 0px;
        padding-inline: 15px;
        padding-block: 65px 80px;


        div {
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 10px;
            width: 100%;


            input[type='email'] {
                border-radius: 5px;
                text-align: center;
                padding-left: 15px;
                padding-right: 15px;
            }




            button {
                border-radius: 5px;
                max-width: 310px;
                width: 100%;
            }
        }

        ul {

            flex-wrap: wrap;
        }
    }

    .nine {
        padding-top: 215px;

        p {
            text-align: justify;
        }
    }


    .ten {
        background-color: #F5FDFF;
        padding-left: 30px;
        padding-right: 30px;

        .container {
            padding-bottom: 72px;
            padding-left: 0px;
            padding-right: 0px;
            row-gap: 120px;


            p {
                margin-top: 12px;
            }

            .ten3 {
                column-gap: 30px;

            }
        }
    }







    .eleven {
        .container {
            padding: 66px 0;

            h1 {
                padding: 0 15px;
                text-align: center;
                margin-bottom: 20px;
            }

            p {
                padding: 0 20px;
                text-align: left;
                // font-size: medium;
            }
        }
    }




    .twelve {
        .container {
            padding: 0 30px;
            column-gap: 60px;
            padding-bottom: 160px;

            h1{
                margin-top:12px;
            }

            div {
                display: flex;
                flex-direction: column;
                height: auto;
                text-align: left;
                padding: 50px 0 0 0;

            }

            img {
                position: absolute;



            }
        }
    }




    .thirteen {
        background-color: #19B885;
        margin-right: 0px;
        margin-left: 0px;
        padding-top: 64px;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 80px;
        position: relative;
        bottom: 150px;
        z-index: 2;
        margin-top: 60px;


        div {
            display: -ms-grid;
            display: flex;
            row-gap: 10px;
            place-items: center;
            flex-direction: column;

            input {
                border-radius: 5px;
                text-align: center;
                width: 310px;
            }

            button {
                border-radius: 5px;
                max-width: 310px;
                width: 100%;
            }
        }

        ul {

            flex-wrap: wrap;
            column-gap: 10px;

        }

    }

    .fourteen {
        padding: 0 10px;
        margin-top: -88px;

        div {
            row-gap: 20px;
        }
    }




    .fifteen {
        margin-inline: 20px;
        margin-top: -60px;


        .fifteen-img {
            padding: 0 50px;
            display: -ms-grid;
            display: grid;
            row-gap: 50px;
            // -ms-grid-columns: (1fr)[4];
            grid-template-columns: repeat(2, 1fr);
            // -ms-grid-rows: (1fr)[2];
            grid-template-rows: repeat(4, 1fr);
            height: 50px;
            max-width: 1560px;
            margin: auto;
            -webkit-column-gap: 30px;
            column-gap: 30px;
            height: fit-content;

            img {
                width: 120px;
            }


        }

    }


    .sixteen {
        margin-bottom: 80px;
        margin-top: 60px;

        h1 {
            padding: 0 30px;
        }

        p {
            padding: 0 30px;
            font-size: 18px;
        }

        .sixteen-img {
            div:first-child {
                display: none;
            }

            div:nth-child(5) {
                display: none;
            }
        }
    }



    .seventeen {
        margin: 0 0px;
        padding-block: 80px;

        h1 {
            padding: 0;
            font-size: 38px;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 10px;

            input {
                border-radius: 5px;
                text-align: center;
                max-width: 310px;
                width: 100%;

            }

            button {
                border-radius: 5px;
                max-width: 310px;
                width: 100%;
            }

        }
    }

    .eighteen {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-block: 80px;
        padding: 0 30px;
        row-gap: 40px;
        -webkit-column-gap: 20px;
        column-gap: 80px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1 {
            margin-bottom: 12px;
        }

        div:nth-child(5) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                padding: 0 10px;
            }
        }


    }




}








// MEDIA 375PX..........................................////////////////////////////////////////



@media (max-width:375px) {
    .nav-21 {
        display: flex;

    }

    .nav-22{
        column-gap: 12px;
        p+p {
            margin: 0px 5px;
        }
    } 

    .nav-2 {
        width: 100vw;

        span {
            display: none;
        }

        p:hover {
            color: #19B885;
            transition: color 250ms ease-in-out;
        }
    }

    .second {
        padding: 0 10px;
        margin-top: 80px;
        margin-bottom: 50px;
    }

    .second-1 {

        h1 {
            padding-bottom: 32px;
            @include typography($font-1, 700, 31px, 45px, black)
        }

        p {

            padding-bottom: 32px;

            @include typography($font-2, 400, 18px, 32px, black)
        }

        .signup-1 {
            display: flex;
            flex-direction: column;
        }

        input[type='email'] {
            width: 268px;
            height: 50px;
            border-radius: 5px;
            text-align: center;
            border: .5px solid;

        }

        input:focus {
            outline: none;
        }

        button {

            height: 50px;
            width: 268px;
            left: 0px;
            top: 0px;
            border-radius: 5px;
            padding: 8px, 20px, 12px, 20px;
            background-color: $color;
        }

        ul {

            padding-top: 14px;
            display: flex;
            align-items: center;


            li {
                @include typography(Inter, 300, 12px, 14px, black)
            }

            li+li {
                margin-left: 20px;
            }


            li:first-child {
                list-style: none;
            }

            li:nth-child(4) {
                position: relative;
                left: 6px;
                @include typography(Inter, 600, 14px, 18px, black);
            }

        }

        .second-2 img {
            width: 100%;
            object-fit: cover;

        }
    }

    .second-1 {


        ul{
            row-gap: 5px;
        }

        input[type='email'] {
            width: 100%;
            height: 50px;
            border-radius: 5px;
            text-align: center;
            border: .5px solid;

        }

        button {
            margin-top: 5px;
            width: 100%;
            margin-bottom: 5px;
        }



    }

    .second-2 {
        margin-top: 20px;
        padding: 0;
        border: 0;

        img {
            width: 100%;
        }
    }

    .third {
        padding-inline: 15px;
        margin-top:80px;

        h1 {
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            font-size: 28px;
            line-height: 44px;
            color: black;
            padding-bottom: 20px;

        }

        p {
            padding: 0px;
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 15px;
            line-height: 29px;
            color: black;
        }
    }


    .fourth {
        .container {
            padding: 50px 30px;
            row-gap: 15px;
        }
    }


    .fifth {

        .fifth-h1 {
            text-align: center;
            padding: 0 15px;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            font-size: 28px;
            line-height: 44px;
            color: black;
            width: 100%;
            max-width: 1567px;
            margin: 0 auto;
        }

        .fifth-p {
            text-align: justify;
            margin-top: 25px;
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 15px;
            line-height: 29px;
            color: black;
        }

        .fifth-1 {
            margin-inline: 10px;

            p {
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 73px;
                text-align: justify;
                font-family: "Inter", sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: black;
            }
        }

        h1 {
            padding: 0 0;

        }

        .fifth-11 {
            padding: 0 10px;
        }
    }

    .sixth {

        padding: 10px 23px 30px 23px;

        .container {

            padding: 70px 0 50px 0;

            .sixth-1 {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 1fr);
                column-gap: 20px;

                h1 {
                    font-size: 15px;
                }


            }




        }
    }


    // SEVEN


    .seventh {
        margin-top: 80px;
        margin-bottom:0px;
    }

    .seventh .seventh-1 .seventh-11 h1 {
        display: -ms-grid;
        display: grid;
        place-items: center;
        margin: 0 auto;
        height: 80px;
        border-top: 1px solid #DEE4E5;
        padding: 0;
        width: 70%;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 17px;
        line-height: 25px;
        color: #0D1B1E;
        justify-content: left;
        text-align: left;
    }




    .seventh {




        .seventh-1 {

            margin-bottom: -100px;

            .seventh-11 {
                img {
                    position: relative;
                    left: 184px;
                    bottom: 0;
                }




            }

            .seven {
                display: flex;
                justify-content: center;

                align-items: center;

                img {
                    position: relative;
                    bottom: -20px;
                    left: -127px;
                }

                div {
                    width: 100%;

                    h1 {
                        width: 90%;
                    }
                }



            }




            p {
                padding-inline: 15px;
            }

            .seventh-11 {
                h1 {
                    width: 90%;
                    padding-right:15px;
                }
            }
        }
    }






    // eight

    .eight {
        background-color: #19B885;
        margin-right: 0px;
        margin-left: 0px;
        padding-top: 70px;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 80px;
        position: relative;
        top: 150px;
        z-index: 2;
        margin-top: 0;


        h1 {
            text-align: center;
            margin-bottom: 32px;
            @include typography($font-1, 700, 25px, 40px, #FFFFFF);

        }

        div {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        input[type='email'] {
            height: 56px;
            width: 100%;
            left: 467px;
            top: 3713px;
            border-radius: 5px;
            text-align: center;
            margin-bottom: 10px;
            max-width: 310px;
        }

        input:focus {
            outline: none;
        }

        button {
            height: 56px;
            width: 100%;
            left: 777px;
            top: 3713px;
            border-radius: 5px;
            margin: 0;
            background-color: black;
            color: white;
            margin-bottom: 20px;

        }

        ul {
            margin-top: 12px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            row-gap:5px;
          

            li {

                @include typography($font-2, 400, 12px, 17px, white);
            }

            li+li {
                margin-left: 15px;
            }

            li:first-child {
                list-style: none;
            }

            li:nth-child(4) {
                text-decoration: underline;
                @include typography($font-2, 700, 14px, 17px, white);
            }
        }

    }

    // nine
    .nine {
        padding-top: 220px;
        margin-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #F5FDFF;
        text-align: center;
        padding-bottom: 75px;

        h1 {
            padding: 0 15px;
            @include typography($font-1, 700, 28px, 44px, #0D1B1E);
        }

        p {
            margin-top: 32px;

            padding: 0 15px;
            @include typography($font-1, 400, 16px, 28px, #0D1B1E);

        }
    }

    // end of nine

    // ten

    .ten {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
        background-color: #F5FDFF;
        display: flex;
        // column-gap: 90px;
        row-gap: 0px;
        // grid-template-columns: repeat(1, 1fr);
        // grid-template-rows: repeat(10, fit-content) ;

        .container {
            row-gap: 100px;
            padding-bottom: 50px;

            h1 {

                @include typography($font-2, 700, 25px, 38px, #000000)
            }


            p {
                margin-top: 15px;
                @include typography($font-2, 400, 16px, 28px, #000000)
            }
        }

        .ten-1 {
            display: grid;
            place-items: center;
        }




        div {
            padding: 0;
            margin: 0;
            height: fit-content;
        }

        img {

            width: 100%;
            margin-bottom: 0px;
        }


        .ten3 {
            display: flex;
            flex-direction: column;

        }


        .ten3:nth-child(odd) {
            display: flex;
            flex-direction: column-reverse;
        }

        .ten3:nth-child(even) {
            display: flex;
            flex-direction: column;
        }






    }




    // end of ten

    // ELEVEN

    .eleven .container {
        h1 {
            padding: 0 25px;
            font-size: 28px;
            line-height: 40px;
        }

        p {
            text-align: justify;
            font-size: 15px;
            line-height: 28px;
        }
    }

    // twelve

    .twelve {
        padding-bottom: 80px;

        .container {
            h1 {
                margin-top: 5px;
                font-size: 23px;
                line-height: 44px;
            }
        }
    }

    .twelve .container {
        background-color: #33393F;
        padding: 0 15px;
        display: -ms-grid;
        display: flex;
        flex-direction: column;
        -webkit-column-gap: 94px;
        column-gap: 0px;
        row-gap:65px;
        // -ms-grid-columns: (1fr)[2];
        // grid-template-columns: repeat(1, 1fr);
        // -ms-grid-rows: (1fr)[3];
        // grid-template-rows: repeat(5, 1fr);
        padding-bottom: 0px;
        max-width: 1560px;
        margin: auto;

        p {
            font-size: 15px;
            line-height: 30px;
        }

        h1{
            margin-top:12px;
        }
    }


    // thirteen
    .thirteen {
        background-color: #19B885;
        margin-right: 0px;
        margin-left: 0px;
        padding-top: 68px;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 80px;
        position: relative;
        bottom: 90px;
        z-index: 2;
        margin-top: 90px;


        h1 {
            text-align: center;
            margin-bottom: 32px;
            @include typography($font-1, 700, 23px, 38px, #FFFFFF);

        }

        div {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        input[type='email'] {
            height: 56px;

            left: 467px;
            top: 3713px;
            border-radius: 5px;
            text-align: center;
            margin-bottom: 10px;
            max-width: 310px;
            width: 100%;
        }

        input:focus {
            outline: none;
        }

        button {
            height: 56px;
            max-width: 310px;
            left: 777px;
            top: 3713px;
            border-radius: 5px;
            margin-bottom: 20px;
            background-color: black;
            color: white;
            width: 100%;

        }

        ul {
            margin-top: 12px;
            display: flex;
            justify-content: center;
            row-gap: 5px;

            li {
                @include typography($font-2, 400, 12px, 17px, white);
            }

            li+li {
                margin-left: 15px;
            }

            li:first-child {
                list-style: none;
            }

            li:nth-child(4) {
                text-decoration: underline;
                @include typography($font-2, 700, 14px, 17px, white);
            }
        }

    }


    // end of thirteen


    .fourteen {
        margin-top: -18px;

        h1 {
            font-size: 28px;
            line-height: 38px;
        }

        p {
            font-size: 16px;
            line-height: 28px;
        }


        div {

            display: flex;
            flex-direction: column;
            row-gap: 30px;
margin-top:60px;

        }
    }


    // fifteen

    .fifteen {
margin-top:-54px;
        margin-bottom: 272px;
        margin-inline: 0;
        height: 215px;
        padding-inline: 15px;



        h1 {
            margin-bottom: 45px;
            text-align: center;
            @include typography($font-1, 700, 26px, 40px, #000000)
        }

        .fifteen-img {

            padding: 0 0 0 5px;
            display: grid;
            row-gap: 50px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            height: 50px;
            column-gap: 5px;

        }

        div {
            display: flex;
            justify-content: center;
        }
    }

    // end of fifteen

    // sixteen

    .sixteen {
        margin-top: 0px;
        margin-bottom: 73px;

        br {
            display: none;
        }

        img {
            border-radius: 50%;
        }

        h1 {
            padding: 0 15px;
            text-align: center;
            margin-bottom: 40px;
            @include typography($font-1, 700, 25px, 40px, #0D1B1E)
        }

        p {
            text-align: center;
            padding: 0 15px;
            margin-bottom: 50px;
            @include typography($font-2, 300, 15px, 30px, #00000099)
        }

        .sixteen-img {

            padding: 0 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            text-align: center;

            div:nth-child(1) {
                display: none;
            }

            div:nth-child(2) {
                img {
                    width: 60px;
                }
            }

            div:nth-child(4) {
                img {
                    width: 60px;
                }

            }

            div:nth-child(5) {
                display: none;
            }


            .middle {
                display: flex;
                flex-direction: column;
                row-gap: 5px;


                div {
                    h1 {
                        width: max-content;
                    }

                    p{
                        br{
                            display: none !important ;
                        }
                    }


                }


                img {

                    position: relative;
                    right: 0px;
                    margin: auto;
                    border-radius: 50%;
                    width: 80px;
                }
            }

            h1 {
                width: 100%;
                padding: 0;

                margin-bottom: 0;
                @include typography($font-2, 500, 20px, 56px, #000000)
            }

            p {

               
                padding: 0;
                margin-bottom: 0;
                @include typography($font-2, 300, 12px, 16px, #00000099)
            }



        }



    }


    // end of sixteen


    // seventeen
    .seventeen {

        margin: 0 0px;
        background-color: #364250;
        padding-block: 70px 80px;
        padding-inline: 10px;

        h1 {

            text-align: center;
            padding: 0px 17px 0 17px;

            @include typography($font-1, 700, 28px, 48px, white)
        }

        div {
            display: flex;
            justify-content: center;
            margin-top: 32px;
            flex-direction: column;
        }

        input {
            text-align: center;
            margin-right: 0;
            padding-right: 0;
            width: 310px;
            height: 55px;
            border-radius: 5px;
            margin-bottom: 10px;
            @include typography($font-2, 400, 18px, 21.78px, #0D1B1E)
        }

        button {

            margin-left: 0;
            padding-left: 0;
            border-radius: 5px;
            width: 310px;
            height: 55.48px;
            background-color: #19B885;
            @include typography($font-2, 400, 18px, 21.78px, #FFFFFF);

        }

        p {
            margin-top: 17px;
            text-align: center;
            @include typography($font-2, 400, 14px, 16.94px, #FFFFFF)
        }
    }

    // end of seventeen

    .eighteen {
        margin-top: 75px;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 80px;

        h1 {
            margin-bottom: 15px;
            @include typography($font-2, 500, 18px, 21.78px, #0D1B1E)
        }

        p {
            @include typography($font-2, 300, 14px, 28px, #0D1B1E80)
        }

        .tele,
        .email {
            display: flex;
            align-items: center;


            img {
                padding-right: 10px;
            }

        }

        .media {
            margin-top: 26px;
            display: flex;
            justify-content: space-between;


            img {
                padding: 0 10px;

            }

        }

        div:nth-child(5) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }



    }





}







// ===============================================================================================

@media (min-width:1560px) {

    .fourth {


        // box-sizing: border-box;
        // margin: 0 83px;
        // padding-right: 97px;
        // padding-left: 97px;
        // padding-top: 61px;
        // padding-bottom: 56px;
        background-color: #33393F;
        // text-align: center;
        // display: flex;
        // position: relative;
        // justify-content: center;
        // top: 150px;
        // right: 83px;
        // z-index: 2;
        // margin:auto;
        margin:0;

        width: 100%;

        .container {
            box-sizing: border-box;
            // margin: 0 83px;
            padding-right: 50px;
            padding-left: 50px;
            padding-top: 61px;
            padding-bottom: 56px;
            background-color: #33393F;
            text-align: center;
            display: flex;
            // position: relative;
            justify-content: center;
            // top: 150px;
            // z-index: 2;
            max-width: 1560px;
            margin: auto;


        }
    }

    .fifth-1 {
        background-color: white;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 77px;
        padding-bottom: 55px;

    }

    .seventh {

        .seven {
            img {
                position: relative;
                left: 58px;
            }
        }

        .seventh-1 {
            h1 {
                span {
                    position: relative;
                    left: 285px;
                    bottom: 5px;
                }
            }


        }
    }

    .eight {
        margin-right: 0px;
        margin-left: 0px;
    }

    .thirteen {
        margin-right: 0px;
        margin-left: 0px;
    }

    .seventeen {
        margin: 0 0px;
    }

    .fourteen {
        div {
            justify-content: space-evenly;
        }
    }

}